<a href="https://colab.research.google.com/github/arth5000/pythonmanual2022/blob/main/FOR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

El ciclo for es una estructura cíclica cuya finalidad es ejecutar un código una cierta cantidad de veces. De manera general, en Python, la sintaxis de for es:



```
for k in iterable:
    # hacer algo
```


Donde iterable es justamente eso, un iterable de Python que puede ser desde una lista hasta un string. Para la i-ésima iteración la variable de ciclo k adoptará el valor en la i-ésima posición de iterable.

A continuación vemos un ejemplo muy básico:

In [ ]:
numeros = [10,20,30,40,50,60]
for numero in numeros:
    print(numero)

10
20
30
40
50
60

Observe que lo único que se hace es imprimir cada elemento que compone la lista numeros.

Revisemos ahora el siguiente ejemplo:

In [ ]:
numeros = [10,20,30,40,50,60]
for numero in numeros:
    print(numero, numero**2)

10 100
20 400
30 900
40 1600
50 2500
60 3600

Note que la única diferencia radica, en que además del propio número, también imprimos su cuadrado.

Naturalmente, no sólo podemos "recorrer" listas, sino cualquier elemento que sea iterable, como es el caso de los strings.

In [ ]:
nombres = ["Ana", "Lucas", "Catalina", "Javier"]
for nombre in nombres:
    print("Hola " + nombre)

Hola Ana
Hola Lucas
Hola Catalina
Hola Javier

En ocasiones tenemos iterables dentro de otro iterable. Es posible acceder a cada elemento del sub-iterable utilizando múltiple variables de ciclo. Por ejemplo:

In [ ]:
puntos = [(0,0), (3,5), (-1,4), (10,2)]
for x,y in puntos:
    #print("Px = {0},  Py ={1}".format(x,y))
    print("Px =",x,"Py",y)

Px = 0 Py 0
Px = 3 Py 5
Px = -1 Py 4
Px = 10 Py 2

Una utilidad muy común es la de la función enumerate:

In [ ]:
notas = [10,8,10,9,10,7]
e=list(enumerate(notas))
print(e)

[(0, 10), (1, 8), (2, 10), (3, 9), (4, 10), (5, 7)]

In [ ]:
notas = [10,8,10,9,10,7]
for k,nota in enumerate(notas):
    print("La nota en posición {0} es: {1}".format(k,nota))

La nota en posición 0 es: 10
La nota en posición 1 es: 8
La nota en posición 2 es: 10
La nota en posición 3 es: 9
La nota en posición 4 es: 10
La nota en posición 5 es: 7

De manera muy breve, la variable de ciclo k devuelve la posición del elemento para cada iteración.

Algunos ejemplos utilizando ciclos for
Una tabla de multiplicar

In [ ]:
n = 2
for k in range(1,11):
    print("{0} x {1} = {2}".format(n,k,n*k))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Un triángulo de caracteres

In [ ]:
n = 10
for k in range(1,n+1):
    print("*"*k)

*
**
***
****
*****
******
*******
********
*********
**********

Contando vocales

In [ ]:
frase = "Anita lava la tina"
k = 0
for letra in frase.lower():
    if letra in ("a","e","i","o","u"):
        k += 1

#print("Hay {0} vocales".format(k))
print("Hay",k,"  vocales")

Hay 8 vocales

La suma de los primeros cien enteros positivos

In [ ]:
suma = 0
for num in range(1,101):
  print(num)
  suma += num

print(suma)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
5050